<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Visual Analysis of PyTorch</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <p class="theme">
        PyTorch
    </p>
    <p class="subTheme">
    PyTorch由Torch7团队开发，是一个以Python优先的深度学习框架，不仅能够实现强大的GPU加速，同时还支持动态神经网络。
    </p>
    <form method="post">
    <div style="text-align:center;vertical-align:middle;">
        <input type="text" name="content" autocomplete="off" required>
        <input class="btn" type="submit" name="submit" value="查询">
    </div>
    </form>
    <pre class="question">
    小知识： <a href="{{ url_for('knowledge', question_id=0) }}">〔 ①pytorch的起源 〕</a> <a href="{{ url_for('knowledge', question_id=1) }}">〔 ②pytorch是什么时候广为人知的？〕</a> <a href="{{ url_for('knowledge', question_id=2) }}">〔 ③pytorch vs ？〕</a>
    </pre>
    {% block mainContent %}{% endblock %}
    <footer>
        <large>&copy; 2020 <a href="https://github.com/hasakiXie123/2020_project" target="_blank">visual analysis of pytorch</a></large>
    </footer>
</body>
</html>

